<div id="colorlib-main">
    <section>
        <h3 style="text-align: center; color: #EC5007; text-decoration: underline">CATEGORIES</h3>
        <div class="container">

            {{> admin-nav}}

            <div class="clearfix"></div>
            <div class="mb-5"></div>
            <div class="row">
                <div class="col-md-4">
                    <form method="POST"
                          enctype="multipart/form-data"
                          class="ml-5"
                          action="">

                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">TÜR</label>
                                    <input type="text" class="form-control" name="name" placeholder="Categorie Name"
                                           required="required"
                                           data-validation-required-message="Please enter categorie name">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Add Categorie" class="btn py-2 px-3 btn-info">
                            </div>


                        </div>
                    </form>

                </div>
                <div class="col-md-8">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="color: #0069d9">DELETE</th>
                            <th style="color: #ba8b00">NAME</th>
                            <th style="color: peru">ID </th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each categories}}
                        <tr>
                            <td style="color: #EC0726">
                                <form action="/admin/categories/{{_id}}?_method=DELETE" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger">DELETE</button>
                                </form>


                            </td>
                            <td style="color: #EC0726">{{name}}</td>
                            <td style="color: #EC0726">{{  _id}}</td>
                        </tr>
                        {{/each}}

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </section>
</div>
