<div id="colorlib-main">
    <section>
        <h3 style="text-align: center; color: #EC5007; text-decoration: underline">ADMİN</h3>
        <div class="container">

            {{> admin-nav}}

        </div>
    </section>
</div>
