<ul style="list-style-type:none; padding-left: 70px;padding-top: 30px; display: block">
    <li style="float: left;margin-right: 40px"><a href="/admin">ADMIN</a></li>
    <li style="float: left;margin-right: 40px"><a href="/admin/categories">CATEGORIES</a></li>
    <li style="float: left;margin-right: 40px"><a href="/admin/posts">POSTS</a></li>
</ul>
