<div id="colorlib-page">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <aside id="colorlib-aside" role="complementary" class="js-fullheight">

        <h1 id="colorlib-logo" class="mb-4 mb-md-5"><a href="/" style="background-image: url(/images/bg_1.jpg);">Poetium</a></h1>
        <nav id="colorlib-main-menu" role="navigation">
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/blog">Blog</a></li>
                {{#if displayLink}}
                        <li><a href="/posts/new">Add Post</a></li>

                {{/if}}

                {{#if displayLink}}
                    <li><a href="/admin">Admin</a></li>
                    {{/if}}

<!-- <li><a href="/about">About</a></li>-->

                <li><a href="/contact">İletişim</a></li>
                {{#unless displayLink}}
                     <li><a href="/users/login">Log In</a></li>
<!--                     <li><a href="/users/register">Register</a></li>-->
                {{/unless}}
                {{#if displayLink}}
                    <li><a href="/users/logout">Log Out</a></li>
                {{/if}}
            </ul>
        </nav>
        <div class="topnav">
            <div class="search-container">
                <form class="form-inline" action="/posts/search" method="GET">
                    <input style="width: 190px" class="form-control" type="text" placeholder="Blog Ara" name="search">
                    <button style="border-radius: 10px;border:none;" class="btn btn-outline-dark" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

        <div class="colorlib-footer">

            <p class="pfooter">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Demiray Yazılım <i class="fa fa-heart" aria-hidden="true"></i>
            </p>
        </div>
    </aside>
