<div id="colorlib-main">
    <section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
        <div class="container-fluid px-0">
            <div class="row d-flex">
                <div class="col-md-6 d-flex">
                    <div class="img d-flex align-self-stretch align-items-center js-fullheight" style="background-image:url(images/ebu.png);">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div class="text px-4 pt-5 pt-md-0 px-md-4 pr-md-5 ftco-animate">
                        <h2 class="mb-4">Merhaba Ben <span>Ebubekir DEMİRAY</span>  POETIUM'un kurucusu ve yazarıyım </h2>
                        <p>Kocaeli Üniversitesi Elektronik ve Haberleşme Mühendisliği 3.sınıf öğrencisiyim.Şiir yazmaya lise zamanlarında başladım ve halende devam ediyorum.İsmet Özel'in de dediği gibi "Sözlerim var,köprüleri geçirmez Kimseyi ateşten korumaz kelimelerim"</p>
                        <div>
                            <a style="height: 25px;
                             width: 25px;
                              padding-right: 40px;
                              padding-left: 100px;
" href="https://www.instagram.com/ebubekir.33/?hl=tr" class="fa fa-instagram" target="_blank"></a>
                            <a style="height: 25px; width: 25px; padding-right: 40px; " href="https://twitter.com/demirayebu" class="fa fa-twitter" target="_blank"></a>
                            <a style="height: 25px; width: 25px;padding-right: 40px;" href="https://github.com/ebdem" class="fa fa-github" target="_blank"></a>
                            <a style="height: 25px; width: 25px;" href="https://www.linkedin.com/in/ebubekir-demiray-6170941a6/" class="fa fa-linkedin" target="_blank"></a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row d-flex ">
                <div class="col-md-6 d-flex">
                    <div class="img d-flex align-self-stretch align-items-center js-fullheight" style="background-image:url(images/hilal1.png);">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div class="text px-4 pt-5 pt-md-0 px-md-4 pr-md-5 ftco-animate">
                        <h2 class="mb-4">Merhaba Ben <span>Hilal UYKUSUZ</span> POETIUM'un yazarıyım </h2>
                        <p>Merhaba, ben Hilal Uykusuz, 21 yaşındayım ve Tobb Ekonomi ve Teknoloji Üniversitesinde psikoloji okuyorum.
                            Psikoloji okurken de seçmeli edebiyat dersleri aldım ve edebiyat yüksek lisans derslerine katıldım.
                            Edebiyat ve Psikanaliz üzerine konferanslara katıldım. Şu an hali hazırda psikanalitik okumalarımı sürdürmekteyim.
                            Bu yolda zihnimden geçenleri kaleme dökmeyi ve böylece kendi gelişimimi ve öğrenme yolculuğumu kayıt altına almayı istiyorum.
                            Sayfamda, sevdiğim eserlerden, yazarlardan, kuram ve kuramcılardan bahsedeceğim.
                            Umarım, okuma, öğrenme serüvenim sizlerin de hayatına dokunur.</p>
                        <div>
                            <a style="height: 25px;
                             width: 25px;
                              padding-right: 40px;
                              padding-left: 100px;
" href="https://www.instagram.com/psikolojiveedebiyat/?hl=tr" class="fa fa-instagram" target="_blank"></a>
                            <a style="height: 25px; width: 25px; padding-right: 40px; " href="https://twitter.com/Hilaluykusuz" class="fa fa-twitter" target="_blank"></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</div>
