<div id="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container px-md-0">
            <div class="row d-flex no-gutters">
                <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                    <div class="contact-wrap w-100 p-md-5 p-4">
                        <h3 class="mb-4 heading">REGISTER</h3>
                        <form method="POST"  action="/users/register">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label" for="name">User Name</label>
                                        <input type="text" class="form-control" name="username"  placeholder="User Name" required="required" data-validation-required-message="Lütfen bu alanı doldurunuz!!">
                                    </div>
                                    <div class="form-group">
                                        <label class="label" for="email">Email Address</label>
                                        <input type="email" class="form-control" name="email"  placeholder="Email" required="required" data-validation-required-message="Lütfen bu alanı doldurunuz!!">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label" for="password">Password</label>
                                        <input type="password" class="form-control" name="password"  placeholder="Password" required="required" data-validation-required-message="Lütfen bu alanı doldurunuz!!">
                                    </div>
                                </div>



                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="sendRegisterButton" type="submit" value="Register" class="btn btn-primary">
                                        <div class="submitting"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>
